* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav.navbar {
    display: flex;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;


}

.icon {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 25px;
}

input.nosubmit {
    border: 1px solid #555;
    width: 100%;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;

}

input[type="search"] {
    margin: 0;
    font-size: 14px;
    color: inherit;
    border-radius: inherit;

}


.container {
    background-color: black;

    text-align: center;
    color: white;
    font-size: 9px;
    padding: 5px;
}



.dropdown-container {
    display: flex;
    gap: 25px;

}

/* dropdown button  */
.dropbtn {
    background-color: #faf9f9;
    color: black;
    border: none;
    cursor: pointer;
    position: relative;
    left: 1px;
    overflow: hidden;
    font-size: 15px;


}

/* Add a pseudo-element for the underline effect  */
.dropbtn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    /* background-color: white; */
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-out;
}

/* Expand underline from left to right  */
.dropdown:hover .dropbtn::after {
    width: 100%;
}

/* Dropdown content (hidden by default)  */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown  */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* <!-- Show the dropdown content on hover  --> */
.dropdown:hover .dropdown-content {
    display: block;
}

/* <!-- Change color of the dropdown button when hovered  --> */
.dropdown:hover .dropbtn {
    background-color: #faf9f9;
}


/* <!-- Change color of links when hovered  --> */
.dropdown-content a:hover {
    background-color: white;
}

.dropbtn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-out;
}

a {
    color: black;
}



input {
    padding: 9px 9px;
}

.logo {
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.image {
    width: 100%;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 249, 249);
    padding: 15px;
}

#slider {
    overflow: hidden;
}

@keyframes slider {
    0% {
        left: 0;
    }

    30% {
        left: 0;
    }

    33% {
        left: -100%;
    }

    63% {
        left: -100%;
    }

    66% {
        left: -200%;
    }

    95% {
        left: -200%;
    }

    100% {
        left: 0;
    }
}

#slider figure {
    width: 300%;
    position: relative;
    animation: 9s slider infinite;
}

#slider figure img {
    width: 33.333333333%;
    height: 100%;
    float: left;
}

.circle img {
    height: 138px;

}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide1 {
    display: flex;
    flex-direction: row;
    margin: 3%;
}

.box1box {
    display: block;
}

.slide1 h2 {
    text-align: center;
    font-size: medium;
}

.Dress .image-2 {
    display: flex;
    gap: 29px;
    justify-content: center;
    align-items: center;
}

.Dress .image-2 img {
    height: 315px;

}

h4 {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 5px;

}

.shop {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    padding: 7px;
    gap: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6b6b6b;
}

.image-3 img {
    height: 350px;
    width: 250px;
    object-fit: cover;
}

strike {
    margin: 5px;
    color: #474444;
}

figure {
    text-align: center;
    margin: 0;
}



.casual {
    display: flex;
    flex-direction: row;
}

span {
    padding: 2px;
    color: rgb(156, 8, 8);
}

.image-4 img,
.image-5 img,
.image-7 img {
    width: 100%;
    padding: 15px;
}

.color .season img {
    height: 600px;
    width: 411px;
}

.color .season {
    display: flex;
    justify-content: center;
    gap: 40px;
    /* padding: 35px; */
}

.head-2 {
    text-align: center;
    font-size: 15px;
    color: #202020;
    padding: 5px;
}

.image-6 img {
    height: 450px;
    width: 350px;
    object-fit: cover;
}

.image-6 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.span-2 {
    padding: 2px;
    color: rgb(156, 8, 8);
}

.head-3 {
    text-align: center;
    font-size: 15px;
    color: #202020;
    padding: 5px;
}

.image-8 {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.image-8 img {
    height: 450px;
    width: 350px;
    object-fit: cover;
}

p {
    font-size: 15px;
    text-align: justify;
    line-height: 22px;
    padding: 5px;
    color: #302d2d;


}

.h-2 {
    padding: 5px;
    color: #363535;
    font-size: 20px;


}

.men {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    gap: 7%;
    margin: 20px;
}

h3 {
    padding: 10px;
}

h1 {
    padding: 10px;
}

.pagination-container {
    width: 150%;
    max-width: 1200px;
    text-align: center;

}

.pagination-controls {
    margin-bottom: 20px;
}

.pagination-controls label {
    padding: 10px 20px;
    background-color: white;
    margin: 0 5px;
    cursor: pointer;
    /* border-radius: 5px; */
    transition: background-color 0.3s ease;

}


.pagination-controls label:hover {
    background-color: white;
    color: #202020;
}

input[type="radio"] {
    display: none;
}

.page-content {
    display: none;
}

/* / Show content when a radio button is selected / */
#page1:checked~.content #content1,
#page2:checked~.content #content2,
#page3:checked~.content #content3 {
    display: block;
}

/* / Highlight the selected page number / */
#page1:checked~.pagination-controls label[for="page1"],
#page2:checked~.pagination-controls label[for="page2"],
#page3:checked~.pagination-controls label[for="page3"] {
    /* background-color: #007BFF; */
    background-color: black;
    color: white;
}



.image-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}


.top img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    /* margin-bottom: 10px; */
}

.top figcaption {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.top figcaption span {
    color: rgb(83, 5, 5);
    /* font-weight: bold; */
}



.page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.image-3 img {
    height: 350px;
    width: 250px;
    object-fit: cover;
}

.img1page {
    background-color: white;
    overflow: hidden;
    transition: box-shadow 0.4s ease-out;
    position: relative;
    padding: 10px 10px;

}

.product-img-1 img {
    height: 403px;
    width: 240px;

}

.img1page .rear-img-1 {
    opacity: 0;
    position: absolute;
    top: 9px;
    left: 0;
    z-index: -1;

}

.img1page:hover .rear-img-1 {
    opacity: 1;
    z-index: 0;
}

img.rear-img-1 {
    width: 260px;
    padding: 0px 10px;
}

.best {
    font-size: 60px;
}

.slider-container {
    position: relative;
    display: flex;
    align-items: center;
}

.slider {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    /* scroll-behavior: smooth; */
    width: 100%;
    /* padding: 10px; */
    gap: 45px;
}

.slide-item {
    flex: 0 0 16.66%;
    text-align: center;
    /* padding: 10px; */
    scroll-snap-align: start;
}

.slide-item img {
    width: 110%;
    height: auto;

}

h4 {
    margin: 10px 0;
}

.women {
    margin: 10px;
}

.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}


.end {
    margin: 20px;
}


@media only screen and (max-width:767px) {
    nav.navbar {
        display: none;
    }

    .slide1 {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .Dress .image-2 {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
    }

    .Dress .image-2 img {
        height: 190px;
    }

    .color .season {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
    }

    .color .season img {
        height: 195px;
        width: 135px;
    }

    .product-img-1 img {
        height: 210px;
        width: 140px;
    }

    .product-img-1 .rear-img-1 {
        width: 162px;
    }

    .img1page .product-img-1 {
        width: 149px;
    }

    #slider {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1;
    }
    #slider img{
        height: 210px;
        width: 140px;
    }
  .slide-item #slider{
    width: 150px;
   
  }
  .men{
    flex-direction: column;
   
  }
    p {
        font-size: 15px;
        text-align:center;
    }

    h3 {
        text-align: center;

    }

    h1 {
        text-align: center;
    }

    .best {
        font-size: 25px;
    }

}